@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

a {
    font-size: 24px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    
}

h2 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 14px;

}


.macronutrients__content__name {
    color: #74798c;
    
}

.sidebar__copyright {
    font-size: 12px;
  }

  .dashboard__activity, .dashboard__performance, .dashboard__sessions
  {
    font-size: 12px;
}